body {
  text-align: center;
}
html {
  font-size: 1rem;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.navbar {
  background-color: #222831;
}
#about-me {
  background-color: #393e46;
}
#footer {
  background-color: #0092ca;
}
.navbar {
  padding: 3% 15% 3% 10%;
}
.navbar-brand {
  font-size: 500%;
  font-family: "Ubuntu", sans-serif;
}
.nav-item {
  font-size: 150%;
  margin: 0 10%;
}
#about-me .container-fluid {
  padding: 5% 15% 5% 10%;
}
#about-me img {
  max-width: 60%;
  border-radius: 100%;
  float: right;
}
#about-me p {
  color: whitesmoke;
  text-align: left;
  font-size: 200%;
  line-height: 2;
}
#image {
  padding: 3% 0;
}
#about-me h3 {
  color: whitesmoke;
  text-align: left;
  font-size: 400%;
  line-height: 2;
}
#footer .container-fluid {
  padding: 0.5% 15%;
  font-size: 150%;
}
#footer a {
  color: #dfdfdf;
}
#footer a:hover {
  color: white;
}

@media (max-width: 988px) {
  #about-me img {
    position: static;
    float: none;
  }
  html {
    font-size: 0.8rem;
  }
  .navbar {
    padding: 3% 5%;
  }
  #about-me p {
    text-align: center;
  }
  #about-me h3 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 0.7rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 0.5rem;
  }
}
@media (max-width: 376px) {
  html {
    font-size: 0.45rem;
  }
}
