body {
  text-align: center;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}
#navbar {
  background-color: #253b6e;
}

#navbar .container-fluid {
  height: 15vh;
}

.navbar-brand {
  font-weight: 900;
  font-family: "Ubuntu";
  font-size: 3.6vw;
}
.nav-item {
  font-size: 1.8vw;
  padding: 0 6vw 0 0;
}
#about-me .container-fluid {
  background-color: #1f5f8b;
  height: 70vh;
}
#about-me h3 {
  margin: auto;
  font-size: 300%;
  color: rgb(245, 238, 238);
  text-align: left;
  line-height: 1.5;
}
#about-me img {
  height: 30%;
  border-radius: 100%;
  margin: auto;
}
#about-me .col-lg-6{
  padding: 5% 2%;
}
#footer .container-fluid {
  background-color: #1891ac;
  height: 15vh;
  padding: 5% 15%;
}
#footer a {
  color: whitesmoke;
  font-size: 1.5vw;
}
@media (max-width:1024px)
{
  #about-me img{
    position: static;
  }
  #navbar .container-fluid{
    height: 25vh;
  }
  #about-me .container-fluid{
    height: 50vh;
  }
  #footer .container-fluid{
    height: 25vh;
  }

}
